<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259794540017-kb9dhmcgnoeii1cg7u7vd219e8vmualk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259794540017-kb9dhmcgnoeii1cg7u7vd219e8vmualk</string>
	<key>API_KEY</key>
	<string>AIzaSyD5k5rcm5UdflGhk6sEczK2J8_wf-XLaps</string>
	<key>GCM_SENDER_ID</key>
	<string>259794540017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoC6Sun</string>
	<key>PROJECT_ID</key>
	<string>todo-c6-sun</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c6-sun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259794540017:ios:4d0ebf3833560be303e050</string>
</dict>
</plist>